

:root {
--color-primery:#757575;
--btn-color:#FFFFFF;
--accent-color:#2196F3;
--first-color: #FFFFFF;
--color-second: #212121;
--bg-btn-color-primary:#2196F3;
--bg-btn-color-second:#F5F4FA;
--footer-color: #FFFFFF99;
--footer-bg-color:  #2F303A;
--color-border-portfolio: #EEEEEE;
--color-border-bottom-header: #ECECEC;
--bg-color-team: #F5F4FA;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
line-height: 1.71;
letter-spacing:  0.03em;
color: var(--color-primery);
}
p, h1,h2,h3 {margin: 0;}
ul  {padding: 0;
margin: 0;}
.container { width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }
    img {display: block;
    max-width: 100%;
    height: auto;}

.link { color: inherit;
    text-decoration: none ;}
.list {list-style: none;}

.logo {color:var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.17;
display: block;
}
.header {padding-top: 24px;
padding-bottom:25px;
border-bottom-width: 1px;
border-bottom-style: solid ;
border-color: var(--color-border-bottom-header);
}
.header .logo {
margin-right: 93px;
}


.header-container {display: flex;
align-items: center;
}

.header-logo-second {color:var(--color-second);}


.header-item:not(:last-child) {margin-right: 50px;}
.header-container-list {display: flex;}
.header-contact {margin-left: auto;}

.header-contact-list {display: flex;}
.header-contact-item:not(:last-child) {margin-right: 50px;} 




.header-item { color: var(--color-second);
    font-weight: 500;
display: flex;}
 
.header-nav-link {font-weight: 500;
letter-spacing: 0.02em;
display: block;

 }

   
.header-nav-link:hover,.header-nav-link:focus,.header-nav-link.current {color: var(--accent-color);
    }

 
.hero {background-color: var(--footer-bg-color);
text-align: center;
padding-bottom: 200px;
padding-top: 200px;
}
.hero-title {color:var(--first-color);
text-transform: uppercase;
font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
margin-bottom: 30px;

}


button {font-family:inherit;
cursor: pointer;
border-radius: 4px;
border:none ;
}
.button-list {text-align: center;
margin-bottom: 50px;}
.button-item {display: inline-block;
}
.button-item:not(:last-child) {margin-right: 8px;}
.button-accent {background-color:  var(--bg-btn-color-primary);
 color: var(--btn-color);
 font-size: 16px;
font-weight: 700;
line-height:1.88 ;
letter-spacing: 0.06em;
text-align: center;
padding: 10px 32px;

}
.button-accent:focus, .current {color:var(--btn-color);}


.visually-hidden {position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow:hidden;
border: 0;
clip: rect(0 0 0 0); 

}
.about{padding-bottom:0;
}
.card-set {display: flex;
flex-wrap: wrap;
margin-right:-30px;
margin-bottom:-30px;  
}
.item {margin-left: 30px;
margin-top: 30px;}
.about-item {flex-basis: calc(100% / 4 - 30px);}


.about-title {text-transform: uppercase;
color: var(--color-second);
font-size: 14px;
line-height: 1.17;
margin-bottom: 10px;
}

 .section {padding-top: 94px;
padding-bottom:94px ;}

.work-item {flex-basis: calc(100% / 3 - 30px);}
.team {background-color: var(--bg-color-team);}

.team-item {flex-basis: calc(100% / 4 - 30px);
background-color: var(--first-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;}

.section-item:not(:last-child) {margin-right: 30px;}

.section-title {font-size: 36px;
color: var(--color-second);
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 50px;
text-align:center;}

.team-wrapper {padding-top: 30px;
padding-bottom: 30px;
text-align: center;}
.section-team-title {color: var(--color-second);
font-size: 16px;
font-weight: 500;
line-height: 1.17;
margin-bottom: 10px;}
.section-post-title {font-size:16px;
line-height:1.17;}



.footer {background-color:var(--footer-bg-color);
padding-top: 60px;
padding-bottom: 60px;}  
.footer .logo {margin-bottom: 20px;}
.footer-logo-second {color: var(--first-color);}
.logo link  {color:var(--accent-color);
margin-bottom: 20px;}

.adress {font-style:normal;
}
.footer-link:hover,.footer-link:focus {color: var(--accent-color);}
.footer-link {color:var(--footer-color);   
}
.footer-link[target="_blank"]:hover,.footer-link[target="_blank"]:focus {color: var(--accent-color);}


.footer-link[target="_blank"] {color: var(--first-color);}
.footer-item:not(:last-child) {margin-bottom: 9px ;
}



.button-primary {color: var(--color-second);
font-weight: 500;
line-height: 1.63;
font-size: 16px;
letter-spacing: 0.03em;
padding: 6px 22px;
}
.button-primary:hover,.button-primary:focus, .all {background-color: var(--bg-btn-color-primary);
    color:var(--btn-color);}

.portfolio-item {flex-basis: calc(100% / 3 - 30px);
border-bottom-width: 1px;
border-bottom-style: solid ;
border-color: var(--color-border-portfolio);}


.portfolio-item {
font-family: inherit;}
.portfolio-wrapper {padding-top: 20px;
padding-bottom: 20px;}
.portfolio-title {color: var(--color-second);
font-size: 18px;
line-height:2;
letter-spacing: 0.06em;
margin-bottom: 4px;
} 

.portfolio-text {
font-size: 16px;
line-height: 1.88;
}
