

:root {
--color-primery:#757575;
--btn-color:#FFFFFF;
--accent-color:#2196F3;
--first-color: #FFFFFF;
--color-second: #212121;
--bg-btn-color-primary:#2196F3;
--bg-btn-color-second:#F5F4FA;
--footer-color: #FFFFFF99;
--footer-bg-color:  #2F303A;
--color-border-portfolio: #EEEEEE;
--color-border-bottom-header: #ECECEC;
--bg-color-team: #F5F4FA;
--bg-color-icon-footer: #FFFFFF1A;
--inher-border-color: #AFB1B8;


}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
line-height: 1.71;
letter-spacing:  0.03em;
color: var(--color-primery);
}
p, h1,h2,h3 {margin: 0;}
ul  {padding: 0;
margin: 0;}
.container { width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }
    img {display: block;
    max-width: 100%;
    height: auto;}

.link { color: inherit;
    text-decoration: none ;}
.list {list-style: none;}

.logo {color:var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.17;
display: block;
}
.header {padding-top: 24px;
padding-bottom:25px;
border-bottom-width: 1px;
border-bottom-style: solid ;
border-color: var(--color-border-bottom-header);
}
 
.hero { background-color: var(--footer-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url( ../images/herobg.jpg);
    background-repeat: no-repeat; background-position: center; background-size:cover;
flex-grow: 1;
text-align: center;
padding-bottom: 200px;
padding-top: 200px;
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
}
 .section {padding-top: 94px;
padding-bottom:94px ;}
.card-set {display: flex;
flex-wrap: wrap;
margin-right:-30px;
margin-bottom:-30px;  
}
.about {padding-bottom: 0;}

.header .logo {
margin-right: 93px;
}


.header-container {display: flex;
align-items: center;
}

.header-logo-second {color:var(--color-second);}


.header-item:not(:last-child) {margin-right: 50px;}
.header-container-list {display: flex;}
.header-contact {margin-left: auto;}

.header-contact-list {display: flex;}
.header-contact-item:not(:last-child) {margin-right: 50px;} 




.header-item { color: var(--color-second);
    font-weight: 500;
display: flex;}
 
.mail ::before {content: "";
display: block;
background-size:contain;
}
.tel::before {content: "";
display: block;
background-size:contain;}

.mail-icon {margin-right: 10px;
width: 16px;
height: 12px;}
.tel-icon {margin-right: 10px;
width: 10px;
height: 16px;}



 
.header-nav-link {font-weight: 500;
letter-spacing: 0.02em;
display: block;

 }

   
.header-nav-link:hover,.header-nav-link:focus,.header-nav-link.current {color: var(--accent-color);
    }


.hero-title {color:var(--first-color);
text-transform: uppercase;
font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
margin-bottom: 30px;

}


button {font-family:inherit;
cursor: pointer;
border-radius: 4px;
border:none ;
}
.button-list {text-align: center;
margin-bottom: 50px;}
.button-item {display: inline-block;
}
.button-item:not(:last-child) {margin-right: 8px;}
.button-accent:hover, .button-accent:focus {color:var(--btn-color);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.button-accent { background-color:  var(--bg-btn-color-primary);
 color: var(--btn-color);
 font-size: 16px;
font-weight: 700;
line-height:1.88 ;
letter-spacing: 0.06em;
text-align: center;
padding: 10px 32px;

}


.visually-hidden {position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow:hidden;
border: 0;
clip: rect(0 0 0 0); 

}


.item {margin-left: 30px;
margin-top: 30px;}
.future-list {display: flex;
justify-content:center;
align-items: center;
}
.future-item  {flex-basis: calc(100% / 4 - 30px);
margin-left: 30px;}
.future-icon {width: 70px;
height: 70px;
justify-content:center;
align-items: center;
display: flex;


}
.future-link {
background: var(--bg-color-team);
content: "";
width: 270px;
height:120px;
display: block;
justify-content: center;
align-items: center;
background-size:cover ;

}


.list-about-item {flex-basis: calc(100% / 4 - 30px);}




.about-title {text-transform: uppercase;
color: var(--color-second);
font-size: 14px;
line-height: 1.17;
margin-bottom: 10px;
}



.work-item {flex-basis: calc(100% / 3 - 30px);}
.team {background-color: var(--bg-color-team);}

.team-item {flex-basis: calc(100% / 4 - 30px);
background-color: var(--first-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;}

.section-item:not(:last-child) {margin-right: 30px;}

.section-title {font-size: 36px;
color: var(--color-second);
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 50px;
text-align:center;}

.team-wrapper {padding-top: 30px;
padding-bottom: 30px;
text-align: center;}
.section-team-title {color: var(--color-second);
font-size: 16px;
font-weight: 500;
line-height: 1.17;
margin-bottom: 10px;}
.section-post-title {font-size:16px;
line-height:1.17;
}
.team-social-list {display: flex;
justify-content: center;

}
.team-social-item {margin-top: 16px;}
.team-social-link + .team-social-link {margin-left: 10px;}

.team-social-link { background-color:var(--first-color);
width:44px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50% ;
color:var(--color-primery);
}

.team-social-icon {fill: currentColor;
width: 20px;
height: 20px;}
.team-social-link:hover,.team-social-link:focus {background: var(--accent-color);
color:var(--accent-color);}

.client-item {flex-basis: calc(100% / 6 - 30px);
margin-left: 30px;}

.client-icon {width:170px;
height: 92px;
display: block;
justify-content: center;
align-items: center;
content: "";
background:var(--first-color);


}

.footer {background-color:var(--footer-bg-color);
padding-top: 60px;
padding-bottom: 60px;
}  
.footer .logo {margin-bottom: 20px;
  margin-right: 156px; 
}

.footer-logo-second {color: var(--first-color);}
.logo link  {color:var(--accent-color);
margin-bottom: 20px;}

.adress {font-style:normal;
}
.footer-link:hover,.footer-link:focus {color: var(--accent-color);}
.footer-link {color:var(--footer-color);   
}
.footer-link[target="_blank"]:hover,.footer-link[target="_blank"]:focus {color: var(--accent-color);}


.footer-link[target="_blank"] {color: var(--first-color);}
.footer-item:not(:last-child) {margin-bottom: 9px ;
}
.footer-title {text-transform: uppercase;
color: var(--first-color);
}
.footer-container {display: flex;}
.footer-title {font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
margin-top: 12px;
margin-bottom: 20px;



}
.footer-social-list {display: flex;
justify-content: center;}

.footer-social-link {margin-right: 10px;}

.footer-social-link {width:44px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50% ;
background:var(--bg-color-icon-footer);
fill: var(--first-color);
}
.footer-social-link:hover,.footer-social-link:focus {background: var(--accent-color);
color:var(--accent-color);}

.footer-social-icon:hover,.footer-social-icon:focus {fill: var(--accent-color);}
.footer-social-icon {width: 20px;
height: 20px;}
.button-primary {
font-weight: 500;
line-height: 1.63;
font-size: 16px;
letter-spacing: 0.03em;
padding: 6px 22px;
}
.button-primary:hover,.button-primary:focus, .all {background-color: var(--bg-btn-color-primary);
    color:var(--btn-color); box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12) ;}

.portfolio-item {flex-basis: calc(100% / 3 - 30px);}
.portfolio-item:hover {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
background: var(--first-color);
}

.portfolio-title:hover,.portfolio-title:focus {color: var(--accent-color);}
.portfolio-text:hover,.portfolio-text:focus {color: var(--accent-color);}


.portfolio-item {
font-family: inherit;
}
.portfolio-wrapper {padding: 20px 24px;
border: 1px; 
border-color:  var(--color-border-portfolio);
border-top: none;}

.portfolio-title {color: var(--color-second);
font-size: 18px;
line-height:2;
letter-spacing: 0.06em;
margin-bottom: 4px;
margin-left: 24px;
margin-right: 24px;
} 

.portfolio-text {
font-size: 16px;
line-height: 1.88;
margin-left: 24px;
margin-right: 24px;
}
