

:root {
--color-primery:#212121;
--btn-color:#FFFFFF;
--accent-color:#2196F3;
--first-color: #FFFFFF;
--color-second: #757575;
--bg-btn-color-primary:#2196F3;
--bg-btn-color-second:#F5F4FA;
--footer-color: #FFFFFF99;}





body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
line-height: 1.71;
letter-spacing:  0.03em;
color: var(--color-primery);
}

.link { color: inherit;
    text-decoration: none ;}
 

.list {list-style: none;}


.logo {color:var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
text-align: left;}

.header-logo-second {color:var(--color-primery);}
.header-item{ color: var(--color-primery);
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    text-align: left;
   }
   .header-nav.current {color: var(--accent-color);}
   
.header-link:hover,.header-link:focus {color: var(--accent-color);
    }
 .header-mail:hover,.header-mail:focus {color: var(--accent-color);}
 .header-mail {color:var(--color-second);
    line-height: 1.17;
    letter-spacing: 0.02em;
    }
    .header-tel {color: var(--color-second);
    line-height: 1.17;
    letter-spacing: 0.02em;
    }


.hero-title{background-color:var(--color-primery);color:var(--first-color);
text-transform: uppercase;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
}


button {font-family:inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.63;
letter-spacing: 0.03em;
text-align: center;
}
.button-accent {background-color:  var(--bg-btn-color-primary);
 color: var(--btn-color);
font-weight: 700;
line-height:1.88 ;
}
.button-accent :hover,.button-accent:focus {color:var(--btn-color);}
.button-primary :hover,.button-primary:focus {color:var(--btn-color);}
.button-primary {
 background-color:  var(--bg-btn-color-primary);
 color: var(--btn-color); 

}
   
.button-second{ background: var(--bg-btn-color-second);}

.visually-hidden {position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow:hidden;
border: 0;
clip: rect(0 0 0 0); 

}

 
 .about-post-title {color: var(--color-second);}
 .work-title {line-height: 1.17;
font-size:  36px; }
.workers {
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
}
 .section-title {
font-size: 16px;
font-weight: 500;
line-height: 1.17;
letter-spacing: 0.03em;
}


.section-post-title {color:var(--color-second);
font-weight: 400;
line-height: 1.17;
}
.title {
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
}
.portfolio-title {
font-size: 16px;
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.03em;
text-align: left;
color: var(--color-second);
}

.footer {background-color:var(--color-primery);}  

.footer-logo-second {color: var(--first-color);}
.logo link{color:var(--accent-color) ;}
.adress {font-style:normal;
 color:var(--first-color);   
background-color:var(--color-primery);
font-size: 14px;
font-weight: 400;
line-height:  1.71;
text-align: left;
}
.footer-item {color: var(--footer-color);}