

:root {
--color-primery:#757575;
--btn-color:#FFFFFF;
--accent-color:#2196F3;
--first-color: #FFFFFF;
--color-second: #212121;
--bg-btn-color-primary:#2196F3;
--bg-btn-color-second:#F5F4FA;
--footer-color: #FFFFFF99;
--footer-bg-color:  #2F303A;}


body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
line-height: 1.71;
letter-spacing:  0.03em;
color: var(--color-primery);
}
p, h1,h2,h3 {margin: 0;}
ul  {padding: 0;
margin: 0;}
.container { width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
    
    }
    img {display: block;
    max-width: 100%;}

.link { color: inherit;
    text-decoration: none ;}
.list {list-style: none;}



.header-container {display: flex;}
.header {padding-top: 24px;
padding-bottom: 25px;}


.header-container-list {display: flex;}


.header-contact-list {display: flex;
    margin-left: 331px;

}
.logo {color:var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
text-align: left;
margin-right: 93px;}

.header-logo-second {color:var(--color-second);}
.header-item { color: var(--color-second);
    font-weight: 500;
display: flex;}
 
.header-nav-link{
letter-spacing: 0.02em;

 }
.header-item:not(:last-child) { margin-right: 50px;}
.header-contact-item:not(:last-child) { margin-right: 50px;}

   
.header-nav-link:hover,.header-nav-link:focus,.header-nav-link.current {color: var(--accent-color);
    }

 
.hero {background-color: var(--footer-bg-color);
text-align: center;
padding-bottom: 94px;
padding-top: 94px;

}
.hero-title{color:var(--first-color);
text-transform: uppercase;
font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
margin-bottom: 30px;
margin-top: 200px;
}


button {font-family:inherit;
cursor: pointer;
}
.button-item {display: inline-block;}
.button-accent {background-color:  var(--bg-btn-color-primary);
 color: var(--btn-color);
 font-size: 16px;
font-weight: 700;
line-height:1.88 ;
letter-spacing: 0.06em;
text-align: center;
}
.button-accent:focus, .current {color:var(--btn-color);}


.visually-hidden {position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow:hidden;
border: 0;
clip: rect(0 0 0 0); 

}
.about{padding-bottom: 0;
padding-top: 294px;}


.about-title {text-transform: uppercase;
color: var(--color-second);
font-size: 14px;
line-height: 1.17;
margin-bottom: 10px;

}
 .section {padding-top: 94px;
padding-bottom:94px ;}
.section-list {display: flex;}

.section-item {font-size: 16px;
font-weight: 500;
line-height: 1.17;

}
.section-item:not(:last-child) {margin-right: 30px;}

.section-title {font-size: 36px;
color: var(--color-second);
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 50px;
text-align:center;}


.section-team-title {color: var(--color-second);
font-size: 16px;
font-weight: 500;
line-height: 1.17;
margin-top: 28px;
margin-bottom: 10px;}
.section-post-title {font-size:16px;
font-weight: 400;
line-height:1.17;}



.footer {background-color:var(--footer-bg-color);
padding-top: 0;}  

.footer-logo-second {color: var(--first-color);}
.logo link {color:var(--accent-color);}
.adress {font-style:normal;
}
.footer-link:hover,.footer-link:focus {color: var(--accent-color);}
.footer-link {color:var(--footer-color);   
}
.footer-link[target="_blank"]:hover,.footer-link[target="_blank"]:focus {color: var(--accent-color);}


.footer-link[target="_blank"] {color: var(--first-color);}


.button-primary:hover,.button-primary:focus, .all {background-color: var(--bg-btn-color-primary);
    color:var(--btn-color);}
.button-primary{color: var(--color-second);
font-weight: 500;
line-height: 1.63;
font-size: 16px;
letter-spacing: 0.03em;
}

.portfolio-list {display: flex;
flex-wrap: wrap;
margin-right:-30px;
margin-bottom:-30px;
}
.portfolio-item {flex-basis: calc(100% -90px / 3); 

margin-right: 30px;
margin-bottom:30px;}


.portfolio-item {
font-family: inherit;}
.portfolio-title {color: var(--color-second);
font-size: 18px;
line-height:2;
letter-spacing: 0.06em;
text-align: center;
} 

.portfolio-text {font-weight: 400;
font-size: 16px;
line-height: 1.88;
text-align: center;
}


