/*цвет основного текста*/
/*вторичный цвет текста*/
/*белый*/
/*акцент*/
/*вторичный цвет фона*/


:root {
--header-color:#212121;
--btn-color:#FFFFFF;
--accent-color:#2196F3;
--first-color: #FFFFFF;
--header-color-second: #757575;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
line-height: 1.7;
letter-spacing:  0.03em;
color: var(--header-color);
}

.link { color: inherit;
    text-decoration: none ;}
 

.list {list-style: none;}



.logo {color:var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
text-align: left;}

.header-logo-second {color:var(--header-color);}
.header-item{ color: var(--header-color);
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    text-align: left;
   }
   .header-nav.current {color: var(--accent-color);}
   
.header-link:hover,.header-link:focus {color: var(--accent-color);
    }
 .header-mail  {
    color: var(--header-color-second);
    }
    .header-tel{color: var(--header-color-second);}


.hero-title{background-color: #2F303A;color:var(--first-color);
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 1.4;
letter-spacing: 0.06em;
text-align: center;
}



 .hero-button-accent{
font-size: 16px;
font-weight: 700;
line-height: 1.9;
text-align: center;
}
.hero-button-accent :hover,.btn-accent:focus {color:var(--first-color);
 background-color:var(--accent-color);}
.hero-btn-accent{
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.03em;
text-align: center;

   }
.hero-btn-accent:hover,.hero-btn-accent:focus {color:var(--first-color);
 background-color:var(--accent-color);}
 .hero-btn {
font-size: 16px;
font-weight: 500;
line-height:1.6;
letter-spacing: 0.03em;



 }
 .section-title {
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
}


.about-post-title {color:var(--header-color-second);
font-weight: 400;
line-height: 1.9;
}
.portfolio-title {
font-size: 16px;
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.03em;
text-align: left;
color: var(--header-color-second);
}

.footer {background-color:var(--header-color);}  

.footer-logo-second {color: var(--first-color);}
.logo link{color:#2196F3 ;}
.adress {font-style:normal;
 color:var(--first-color);   
background-color:var(--header-color);
font-size: 14px;
font-weight: 400;
line-height:  1.714;
text-align: left;
}
