

:root {
--color-primery:#757575;
--btn-color:#FFFFFF;
--accent-color:#2196F3;
--first-color: #FFFFFF;
--color-second: #212121;
--bg-btn-color-primary:#2196F3;
--bg-btn-color-second:#F5F4FA;
--footer-color: #FFFFFF99;
--footer-bg-color:  #2F303A;
--color-border-portfolio: #EEEEEE;
--color-border-bottom-header: #ECECEC;
--bg-color-team: #F5F4FA;
--bg-color-icon-footer: #FFFFFF1A;
--inher-border-color: #AFB1B8;


}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
line-height: 1.71;
letter-spacing:  0.03em;
color: var(--color-primery);
}
p, h1,h2,h3 {margin: 0;}
ul  {padding: 0;
margin: 0;}
.container { width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }
    img {display: block;
    max-width: 100%;
    height: auto;}

.link { color: inherit;
    text-decoration: none ;}
.list {list-style: none;}

.logo {color:var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.17;
display: block;
}
.header {padding-top: 24px;
padding-bottom:25px;
border:1px solid var(--color-border-bottom-header);
}
.current {color: var(--accent-color);
position:relative;}

.current::after {content: "";
width: 100%;
height: 4px;
position:absolute;
left: 0;
bottom: -25px;
border-radius: 2px;
background-color: var(--accent-color);}
 
.hero { background-color: var(--footer-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgimg.jpg");
    background-repeat: no-repeat; background-position: center; background-size:cover;
text-align: center;
padding-bottom: 200px;
padding-top: 200px;
max-width: 1600px;
margin-left: auto;
margin-right: auto;
}
 .section {padding-top: 94px;
padding-bottom:94px ;}
.card-set {display: flex;
flex-wrap: wrap;
margin-right:-30px;
margin-bottom:-30px;  
}
.about {padding-bottom: 0;}

.header .logo {
margin-right: 93px;
}


.header-container {display: flex;
align-items: center;
}

.header-logo-second {color:var(--color-second);}


.header-item:not(:last-child) {margin-right: 50px;}
.header-container-list {display: flex;}
.header-contact {margin-left: auto;}

.header-contact-list {display: flex;}
.header-contact-item:not(:last-child) {margin-right: 50px;} 
.header-contact-item {transition: var(--accent-color) 250ms linear 250ms;}



.header-item { color: var(--color-second);
    font-weight: 500;
display: flex;}
 


.header-icon {margin-right: 10px;
fill:currentColor;
}

.header-nav-link {font-weight: 500;
letter-spacing: 0.02em;
display: flex;
align-items: center;
transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
 }

   
.header-nav-link:hover,.header-nav-link:focus,.header-nav-link.current {color: var(--accent-color);
    }


.hero-title {color:var(--first-color);
text-transform: uppercase;
font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
margin-bottom: 30px;

}


button {font-family:inherit;
cursor: pointer;
border-radius: 4px;
border:none ;
transition: backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-list {text-align: center;
margin-bottom: 50px;}
.button-item {display: inline-block;
}
.button-item:not(:last-child) {margin-right: 8px;}
.button-accent:hover, .button-accent:focus {color:var(--btn-color);box-shadow: 0px 4px 4px 0px #00000026;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px 0px #00000026;
border-radius: 4px;


}

.button-accent { background-color:  var(--bg-btn-color-primary);
 color: var(--btn-color);
 font-size: 16px;
font-weight: 700;
line-height:1.88 ;
letter-spacing: 0.06em;
text-align: center;
padding: 10px 32px;
position: absolute;

}


.visually-hidden {position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow:hidden;
border: 0;
clip: rect(0 0 0 0); 

}


.item {margin-left: 30px;
margin-top: 30px;}





.future-icon {
width: 70px;
height:70px;



}
.future-container { 
height: 120px;
align-content: center;
justify-content: center;
border-radius: 4px;
display: flex;
background: var(--bg-color-team);
margin-bottom: 30px;
padding: 25px;
}


.list-about-item {flex-basis: calc(100% / 4 - 30px);}




.about-title {text-transform: uppercase;
color: var(--color-second);
font-size: 14px;
line-height: 1.17;
margin-bottom: 10px;
}



.work-item {flex-basis: calc(100% / 3 - 30px);}
.team {background-color: var(--bg-color-team);}

.team-item {flex-basis: calc(100% / 4 - 30px);
background-color: var(--first-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;}

.section-item:not(:last-child) {margin-right: 30px;}

.section-title {font-size: 36px;
color: var(--color-second);
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 50px;
text-align:center;}

.team-wrapper {padding-top: 30px;
padding-bottom: 30px;
text-align: center;}
.section-team-title {color: var(--color-second);
font-size: 16px;
font-weight: 500;
line-height: 1.17;
margin-bottom: 10px;}
.section-post-title {font-size:16px;
line-height:1.17;
margin-bottom: 16px;
}
.social-list {display: flex;
justify-content: center;

}
.social-link { width:44px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50% ;
background:var(--bg-color-icon-footer);
color:var(--inher-border-color);
transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:not(:last-child) {margin-right: 10px;}




.social-icon {fill: currentColor;
width: 20px;
height: 20px;}
.social-link:hover,.social-link:focus {background: var(--accent-color);
color:var(--first-color);}
.footer .social-icon {color: var(--first-color);}

.client-item {flex-basis: calc(100% / 6 - 30px);
}
.client-link {display: flex;
height:92px ;
justify-content: center;
align-items: center;
border: 1px solid currentColor;
border-radius: 4px;
color:var(--inher-border-color);
transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {color: var(--accent-color);}

.client-icon {width:106px;
height: 60px;
fill:currentColor;


}

.footer {background-color:var(--footer-bg-color);
padding-top: 60px;
padding-bottom: 60px;
}  
.footer .logo {margin-bottom: 20px;
  
}

.footer-logo-second {color: var(--first-color);}
.logo link  {color:var(--accent-color);
margin-bottom: 20px;}

.adress {font-style:normal;
}
.footer-link:hover,.footer-link:focus {color: var(--accent-color);}
.footer-link {color:var(--footer-color);   
 transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);   
}
.footer-link[target="_blank"]:hover,.footer-link[target="_blank"]:focus {color: var(--accent-color);}


.footer-link[target="_blank"] {color: var(--first-color);}
.footer-item:not(:last-child) {margin-bottom: 9px ;
}
.footer-title {text-transform: uppercase;
color: var(--first-color);
}
.footer-container {display: flex;
align-items: baseline;}
.footer-cont-item:not(:last-child) {margin-right: 70px;}
.footer-title {font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 20px;

}



.button-primary {
font-weight: 500;
line-height: 1.63;
font-size: 16px;
letter-spacing: 0.03em;
padding: 6px 22px;
}
.button-primary:hover,.button-primary:focus, .all {background-color: var(--bg-btn-color-primary);
    color:var(--btn-color); box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12) ;}

.portfolio-item {flex-basis: calc(100% / 3 - 30px);
position: relative;}
.portfolio-item-wrap {position: relative;
overflow: hidden;

}
.portfolio-img-text {position:absolute ;
top: 0;
left: 0;
background-color: rgba( 33, 150, 243, 0.9);
color: var(--first-color);
font-size: 18px;
line-height: 1.56;
height: 294px;
width: 100%;
transform: translateY(100%);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 63px 24px;
}



.portfolio-item:hover .portfolio-img-text {transform: translateY(0);}

.portfolio-link:hover,.portfolio-link:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
background: var(--first-color);
}
.portfolio-link {display: flex;
flex-direction: column;}




.portfolio-wrapper {padding: 20px 24px;
border: 1px solid #EEEEEE
;
border-top: none;}

.portfolio-title {color: var(--color-second);
font-size: 18px;
line-height:2;
letter-spacing: 0.06em;
margin-bottom: 4px;

} 

.portfolio-text {
font-size: 16px;
line-height: 1.88;

}
.backdrop {width: 100vw;
height: 100vh;
position: fixed;
top: 0;
background-color: rgba(157, 164,189, 0.62) ;}

.modal {width: 500px;
min-height: 500px; 
background-color: var(--first-color);
border-radius: 5px;
position: absolute;
top: 30%;
left: 30%;
transform:translate(-50%, -50%);
transform: scale(1);

}
.modal-close { width: 30px;
background-color: transparent;
height: 30px;
position: absolute;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
top: 8px;
right: 8px;
}
.backdrop .is-hidden .modal {transform: scale(0.5); 
transition: transform 500ms;}
.is-hidden {opacity:0;
    pointer-events: none;
    visibility: hidden;}