/*цвет основного текста*/
/*вторичный цвет текста*/
/*белый*/
/*акцент*/
/*вторичный цвет фона*/


:root {
--header-color:#FFFFFF;
--btn-color:#2196F3;
--accent-color:#2196F3;
}

body {
    font-family: Roboto, sans-serif;
 color:#212121;
}





   

.header-link:hover,.header-link:focus {color:var(--accent-color);}
.header-mail {color: #2196F3}

.list {
    list-style: none;}
.link {
    text-decoration: none ;}
ul {color: #000;}
.header-tel {color: #757575;}
.hero-title 

.hero-btn:{color:var(--header-color ) ;}

.about-post-title {color: #757575;

   line-height 1.14em;}



