body {
    background-color:rgba(red, green, blue, alpha) ;}

:root { 
--primary-text-color:
--title-text-color:var(--primary-text-color
.site-nav list.:hover {color: tomato var(--title text color);}
--accent color:var(--primary-text-color);

}

.site-nav list.:hover {color: tomato var(--title text color);}
.hero{
    color: violet;}
    .accent{color: yellow;}