button {font-family:inherit;
cursor: pointer;
border-radius: 4px;
border:none ;
transition: background-color, color var(--transition);

}
.button-list {text-align: center;
margin-bottom: 50px;}
.button-item {display: inline-block;
}
.button-item:not(:last-child) {margin-right: 8px;}
.button-accent:hover, .button-accent:focus {color:var(--btn-color);box-shadow: 0px 4px 4px 0px #00000026;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px 0px #00000026;
border-radius: 4px;


}

.button-accent { background-color:  var(--bg-btn-color-primary);
 color: var(--btn-color);
 font-size: 16px;
font-weight: 700;
line-height:1.88 ;
letter-spacing: 0.06em;
text-align: center;
padding: 10px 32px;
transition: color, background-color  var(--transition);
}
.button-input { width: 200px;
height: 50px;
font-size: 16px;
display: inline-block;
font-weight: 700;
letter-spacing: 0.06em;
line-height: 1.87;
color: var(--first-color);
background-color: var(--accent-color);
text-align: center;
justify-content: center;
margin-left: 12px;

}
.btn-footer {position: absolute;}
.button-primary {
font-weight: 500;
line-height: 1.63;
font-size: 16px;
letter-spacing: 0.03em;
padding: 6px 22px;
transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);

}
.button-primary:hover,.button-primary:focus, .all {background-color: var(--bg-btn-color-primary);
    color:var(--btn-color); box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12) ;}
