.client-item {flex-basis: calc(100% / 6 - 30px);
}
.client-link {display: flex;
height:92px ;
justify-content: center;
align-items: center;
border: 1px solid currentColor;
border-radius: 4px;
color:var(--inher-border-color);
transition: color var(--transition);
}
.client-link:hover, .client-link:focus {color: var(--accent-color);}

.client-icon {width:106px;
height: 60px;
fill:currentColor;}