.footer {background-color:var(--footer-bg-color);
padding-top: 60px;
padding-bottom: 60px;
}  
.footer .logo {margin-bottom: 20px;
  
}

.footer-logo-second {color: var(--first-color);}
.logo link  {color:var(--accent-color);
margin-bottom: 20px;}

.adress {font-style:normal;
}
.footer-link:hover,.footer-link:focus {color: var(--accent-color);}
.footer-link {color:var(--footer-color);   
 transition: color var(--transition);   
}
.footer-link[target="_blank"]:hover,.footer-link[target="_blank"]:focus {color: var(--accent-color);}


.footer-link[target="_blank"] {color: var(--first-color);}
.footer-item:not(:last-child) {margin-bottom: 9px ;
}
.footer-title {text-transform: uppercase;
color: var(--first-color);
}
.footer-container {display: flex;
align-items: baseline;}
.footer-wrap {
align-items: baseline; justify-content: center;
}
.footer-cont-item:first-child {margin-right: 70px;}
.footer-wrap {margin-left: 93px;}


.footer-title {font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 20px;

}
.footer .social-icon {color: var(--first-color);}
.footer-input {width: 358px;
height: 50px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 16px;
flex-direction: column;
}