.future-icon {
width: 70px;
height:70px;



}
.future-container { 
height: 120px;
align-content: center;
justify-content: center;
border-radius: 4px;
display: flex;
background: var(--bg-color-team);
margin-bottom: 30px;
padding: 25px;
}