
.header {padding-top: 24px;
padding-bottom:25px;
border:1px solid var(--color-border-bottom-header);
}

.header_container {display: flex;
align-items: center;

}
.site-list {display: flex;
align-items: center;}



.site-list_item:not(:last-child) {margin-right: 50px;}
.header-container-list {display: flex;}
.connect {margin-left: auto;}

.connect-list {display: flex;}
.connect-list_item:not(:last-child) {margin-right: 50px;} 




.site-list_item{ color: var(--color-second);
    font-weight: 500;
display: flex;}
 


.connect-icon {margin-right: 10px;
fill:currentColor;
}

.site-list_link {font-weight: 500;
letter-spacing: 0.02em;
display: flex;
align-items: center;
transition: color var(--transition);
 }

   
.site-list_link:hover,.site-list_link:focus,.site-list_link.current {color: var(--accent-color);
    }




.current::after {content: "";
width: 100%;
height: 4px;
position: absolute;
left: 0;
bottom: -30px;
border-radius: 2px;
background-color: var(--accent-color);}

.current {color: var(--accent-color);
position: relative;}
