.portfolio-item {flex-basis: calc(100% / 3 - 30px);
position: relative;}
.portfolio-item-wrap {position: relative;
overflow: hidden;

}
.portfolio-img-text {position:absolute ;
top: 0;
left: 0;
background-color: rgba( 33, 150, 243, 0.9);
color: var(--first-color);
font-size: 18px;
line-height: 1.56;
height: 294px;
width: 100%;
transform: translateY(100%);
transition: transform var(--transition);
padding: 63px 24px;
}



.portfolio-link:hover .portfolio-img-text,.portfolio-link:focus .portfolio-img-text  {transform: translateY(0);}

.portfolio-link:hover,.portfolio-link:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
background: var(--first-color);
}
.portfolio-link {display: flex;
flex-direction: column;
transition: transform var(--transition) ;}




.portfolio-wrapper {padding: 20px 24px;
border: 1px solid #EEEEEE
;
border-top: none;}

.portfolio-title {color: var(--color-second);
font-size: 18px;
line-height:2;
letter-spacing: 0.06em;
margin-bottom: 4px;

} 

.portfolio-text {
font-size: 16px;
line-height: 1.88;

}