.social-list {display: flex;
justify-content: center;

}
.social-link { width:44px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50% ;
background-color:var(--bg-color-icon-footer);
color:var(--inher-border-color);
transition: background-color var(--transition), color var(--transition);
}
.social-item:not(:last-child) {margin-right: 10px;}




.social-icon {fill: currentColor;
width: 20px;
height: 20px;}
.social-link:hover,.social-link:focus {background-color: var(--accent-color);
color:var(--first-color);}