  
 

.header .logo {
margin-right: 93px;
}
.header-logo-second {color:var(--color-second);}
.footer .logo {margin-bottom: 20px;
  
}
.footer-logo-second {color: var(--first-color);}
.logo link  {color:var(--accent-color);
margin-bottom: 20px;}